<div>
  <table width="100%" bgcolor="#eeeeee" style="border-collapse:collapse;background-color:#eeeeee" dir="ltr">
    <tbody>
      <tr>
        <td style="border-collapse:collapse;padding:40px 10px 40px 10px">
          <table align="center" width="600" style="border-collapse:collapse;border:1px solid #eeeeee;background-color:#fff">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;padding:30px;color:#333333;font-family:Open Sans,sans-serif,Helvetica,Arial,sans-serif;font-size:14px">
                  <div style="border-top:10px solid #323232">
                    <p style="margin:1em 0">
                      <img src="https://ci6.googleusercontent.com/proxy/HoQxc0eiQQ7K8gyMcSgLFZRf-PoS1pUk1-tlRefgQXoj_PooaPkLmKyZarfyocB-P7WO3Hh9XfeyFwdLSD8=s0-d-e1-ft#https://wayocraft.com/mail/wayo_logo.png" alt="WAYO" style="outline:none;text-decoration:none;display:block;margin:15px auto;max-width:161px;width:100%">
                    </p>
                  </div>
                  <div>
                    <p style="margin:1em 0;background-color:#f6f6f6;border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;color:#073190;font-size:12px;font-weight:bold;padding:14px">注文情報のお知らせ_<%= Time.now.yesterday.strftime('%Y%m%d') %></p>
                  </div>          
                  <p style="padding: 0 28px;">
                    TOKYO OTAKU MODE<br>末松様<br><br><%= Time.now.yesterday.strftime('%m月%-d日') %>の注文情報をお送りします。
                  </p>
                  <div style="background:#323232;overflow:hidden;padding:16px">
                    <p style="margin:0;color:#fff;float:left;font-size:11px;width:73%"></p>
                  </div>
                  <div style="clear:both">
                    <p style="margin:0;background:#222222;color:#fff;font-size:10px;padding:10px 0;text-align:center">Copyright© LiveArts, Inc. ALL RIGHTS RESERVED.</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
